@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

body {
  font-family: "Indie Flower", cursive !important;
  background: #fde3a7; 
  margin: 0px;
  padding: 0px;
}
.gift-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fde3a7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999; 
  transition:
    opacity 1s ease,
    visibility 1s;
}


.gift-container.active {
  opacity: 0;
  visibility: hidden;
}


.gift-box {
  position: relative;
  width: 100px;
  height: 100px;
  background: #c0392b; 
  cursor: pointer;
  animation: bounce 2s infinite;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.gift-box::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100px;
  background: #fff;
  left: 40px;
}

.gift-box::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 20px;
  background: #fff;
  top: 40px;
}

.click {
  position: absolute;
  background: #c0392b;
  width: 110px;
  height: 25px;
  top: -25px;
  left: -5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.click::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  background: #fff;
  left: 45px;
}


.text-gift {
  margin-top: 50px;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: #013243;
  animation: blink 1.5s infinite;
}


@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-5px) rotate(2deg);
  }
  50% {
    transform: translateY(0) rotate(0);
  }
  75% {
    transform: translateY(-5px) rotate(-2deg);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


.card {
 
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

.card.hidden-content {
  opacity: 0;
  pointer-events: none; 
}



::selection {
  background: transparent;
}

h4 {
  font-size: 26px;
  line-height: 1px;
  font-family: "Amatic SC", cursive !important;
}

.color1 {
  color: #1bbc9b;
} 
.color2 {
  color: #c0392b; 
}

.card {
  color: #013243; 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  background: #e0e1dc;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(2000px);
  box-shadow:
    inset 300px 0 50px rgba(0, 0, 0, 0.5),
    20px 0 60px rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.card:hover {
  transform: translate(-50%, -50%) perspective(2000px) rotate(15deg) scale(1.2);
  box-shadow:
    inset 20px 0 50px rgba(0, 0, 0, 0.5),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.card:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #bac1ba;
  transform-origin: bottom;
  transform: skewX(-45deg);
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 5px;
  height: 100%;
  background: #92a29c;
  transform-origin: left;
  transform: skewY(-45deg);
}

.card .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  transition: 0.7s;
}

.card .bark {
  position: absolute;
  background: #e0e1dc;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.7s;
}

.card .imgBox img {
  min-width: 250px;
  max-height: 400px;
}

.card:hover .imgBox {
  transform: rotateY(-135deg);
}

.card:hover .bark {
  opacity: 1;
  transition: 0.6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, 0.4) inset;
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  z-index: -1;
  margin-top: 70px;
}

.card .details p {
  font-size: 15px;
  line-height: 5px;
  transform: rotate(-10deg);
  padding: 0 0 0 20px;
}

.card .details h4 {
  text-align: center;
}

.text-right {
  text-align: right;
}
